nav{
    background: #666362;
    height: 2cm;
}

.histroy p{
    font-size: 20px;
    margin: 0px 150px 0px 150px;
}

.full{
    background: white;
    width: 100%;
    height: 14cm;
}

.church{
    height: 10cm;
    width: 48%;
    position: relative;
    left: -80px;
}

.churchmessage{
    position: relative;
    top: 20px;
}

.believe{
    width: 100%;
    height: 10cm;
    margin-top: 40px;
    font-size: 25px;
}
